services:
  - type: web
    name: cypher-node-md
    env: node
    buildCommand: npm install
    startCommand: node index.js
    plan: free
    healthCheckPath: /
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18.17.0
